nav{
    background-color:black;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: white;
    }
    
    .navbar-light:hover .navbar-nav:hover .nav-link:hover {
        font-weight: bold;
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        color: white;
        text-decoration: underline  wavy #FF8A65;
        }

hr{
    width:15%;
    text-align:left;
    margin-left:0;
    display: block;
    margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style:solid;
  border-width: 3px;
  border-color: rgb(187, 13, 13);
}

.footer-style{
    background-color: black;
    padding: 30px 30px 30px 30px;
    list-style-type: none;
    margin-top: 100px;
    font-weight: bold;
}


a{
    text-decoration: none;
}


.link-light{
    padding-left: 30px;
    font-size: 22px;
}

.info{
    color: whitesmoke;
    font-weight: bold;
}

.footer-icon {
    display: inline;
    float:left;
    padding:10px 10px 10px 10px;
    color: gainsboro;
}

.footer-icon:hover ,.link-light:hover ,.bi-linkedin:hover ,.bi-envelope:hover {
    color: rgb(187, 13, 13);
}

.container{
    margin: 65px 5px 15px 15px;;
}